# App
APP_SECRET=hb3udjd89398ru298hri23nrkj23hr87wq3yf09w234qiur93h
APP_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/fieldsightai

# AWS
AWS_REGION=ap-southeast-2
APP_AWS_ACCESS_KEY_ID=
APP_AWS_SECRET_ACCESS_KEY=
S3_VIDEOS_BUCKET=fieldsightai-videos
S3_TRANSCRIPTS_BUCKET=fieldsightai-transcripts
S3_MEDIA_BUCKET=fieldsightai-media
EVENTBRIDGE_BUS_NAME=fieldsightai-events

# Email
CONTACT_EMAIL=contact@fieldsightai.com

# Aconex
ACONEX_BASE_URL=https://api.aconex.com
